.navbar__container{
    background-color: rgb(28, 47, 71);
    color: white;
    
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding: 8px;

}